In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
class members_application:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.ids=self.get_ids(d)
        self.time=self.get_timestamp(d)
        self.item_id=self.get_item_id(d)
        self.user_id=self.get_user_id(d)
        self.title=self.get_title(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["id"]))
        return res
    
    def get_timestamp(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["timestamp"])
        return res
    
    def get_item_id(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["item_id"]))
        return res
    
    def get_user_id(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["user_id"]))
        return res
    
    def get_title(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["title"])
        return res
    
    def create_df(self):
        dd={}
        dd["id"]=self.ids
        dd["Timestamp"]=self.time
        dd["job_id"]=self.item_id
        dd["user_id"]=self.user_id
        dd["title"]=self.title
        self.df=pd.DataFrame(dd)

In [3]:
mm=members_application("test.json", "test")
df=mm.df

In [4]:
df.sort_values(by=['Timestamp'], inplace=True)

In [5]:
df.shape

(621845, 5)

In [6]:
df.head()

,id,Timestamp,job_id,user_id,title
0,1,2017-05-25 11:35:41,68,148463,Graduate Analyst
1,29,2017-05-25 11:54:57,636,150711,Deloitte Graduate Fast Track Programme 2018
2,31,2017-05-25 11:56:17,1754,150711,Executive MBA
3,39,2017-05-25 11:57:30,2130,150975,Audit Internship - Summer 2018
4,41,2017-05-25 12:02:31,2226,150823,International Dispute Resolution Internship

In [7]:
class jobs:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.job_id=self.get_ids(d)
        self.opening_date=self.get_opening_date(d)
        self.closing_date=self.get_closing_date(d)
        self.short_description=self.get_short_description(d)
        self.description=self.get_description(d)
        self.job_type=self.get_job_type(d)
        self.employer_id=self.get_employer_id(d)
        self.search_rank=self.get_search_rank(d)
        self.title=self.get_title(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["id"]))
        return res
    
    def get_opening_date(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["opening_date"])
        return res
    
    def get_closing_date(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["closing_date"])
        return res
    
    def get_short_description(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["description_short"])
        return res
    
    def get_description(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["description"])
        return res
    
    def get_job_type(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["job_type"]))
        return res
    
    def get_employer_id(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["employer_id"]))
        return res
    
    def get_search_rank(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["search_rank"]))
        return res
    
    def get_title(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["title"])
        return res
    
    def create_df(self):
        dd={}
        dd["job_id"]=self.job_id
        dd["job_opening_date"]=self.opening_date
        dd["job_closing_date"]=self.closing_date
        dd["job_short_description"]=self.short_description
        dd["job_description"]=self.description
        dd["job_type"]=self.job_type
        dd["employer_id"]=self.employer_id
        dd["search_rank"]=self.search_rank
        dd["job_title"]=self.title
        self.df=pd.DataFrame(dd)

In [8]:
job=jobs("job.json", "job")
job_df=job.df

In [9]:
job_df[job_df["job_id"]==4533.0]

,job_id,job_opening_date,job_closing_date,job_short_description,job_description,job_type,employer_id,search_rank,job_title
2623,4533,2018-08-22,2019-01-31,Want to work with brands that millions of cons...,<h2>Overview</h2>\r\n\r\n<p>Want to work with ...,3,208,6,P&G Ireland Marketing Summer Internship 2019

In [9]:
class users:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.user_id=self.get_ids(d)
        self.length_of_course=self.get_length_of_course(d)
        self.gender=self.get_gender(d)
        self.ethnicity=self.get_ethnicity(d)
        self.school_type=self.get_school_type(d)
        self.course_includes_industrial_placement=self.get_course_includes_industrial_placement(d)
        self.graduation_year=self.get_graduation_year(d)
        self.right_to_work_uk=self.get_right_to_work_uk(d)
        self.degree_subject_id=self.get_degree_subject_id(d)
        self.university_id=self.get_university_id(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["user_id"]))
        return res
    
    def get_length_of_course(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["length_of_course"]))
            except TypeError:
                res.append(None)
        return res
    
    def get_gender(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["gender"])
        return res
    
    def get_ethnicity(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["ethnicity"])
        return res
    
    def get_school_type(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["school_type"])
        return res
    
    def get_course_includes_industrial_placement(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["course_includes_industrial_placement"])
        return res
    
    def get_graduation_year(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["graduation_year"]))
            except TypeError:
                res.append(None)
        return res
    
    def get_right_to_work_uk(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["right_to_work_uk"])
        return res
    
    def get_degree_subject_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["degree_subject_id"]))
            except TypeError:
                res.append(None)
        return res
    
    def get_university_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["university_id"]))
            except TypeError:
                res.append(None)
        return res
    
    def create_df(self):
        dd={}
        dd["user_id"]=self.user_id
        dd["length_of_course"]=self.length_of_course
        dd["gender"]=self.gender
        dd["ethnicity"]=self.ethnicity
        dd["school_type"]=self.school_type
        dd["course_includes_industrial_placement"]=self.course_includes_industrial_placement
        dd["graduation_year"]=self.graduation_year
        dd["right_to_work_uk"]=self.right_to_work_uk
        dd["degree_subject_id"]=self.degree_subject_id
        dd["university_id"]=self.university_id
        self.df=pd.DataFrame(dd)

In [10]:
user=users("users_profile.json","users_profile")
user_df=user.df

In [11]:
class employers_job_sectors:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.employer_id=self.get_employer_id(d)
        self.jobsector_id=self.get_jobsector_id(d)
        self.create_df()
    
    def get_employer_id(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["employer_id"]))
        return res
    
    def get_jobsector_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["jobsector_id"]))
            except TypeError:
                res.append(None)
        return res
    
    def create_df(self):
        dd={}
        dd["employer_id"]=self.employer_id
        dd["employer_sector_id"]=self.jobsector_id
        self.df=pd.DataFrame(dd)

In [12]:
employer_job_sector=employers_job_sectors("employers_sectors.json", "employers_sectors")
employer_job_sector_df=employer_job_sector.df

In [13]:
employer_job_sector_df.head()

   employer_id  employer_sector_id
0           91                 103
1          204                  99
2            6                  96
3           64                  92
4          432                  91

In [14]:
def fix_employer_sector(df):
    employers=list(set(list(df["employer_id"].values)))
    sectors=[]
    for employer in employers:
        x=list(df[df["employer_id"]==employer]["employer_sector_id"].values)
        sectors.append(x)
    d={}
    d["employer_id"]=employers
    d["employer_sectors_list"]=sectors
    res=pd.DataFrame(d)
    return res

In [15]:
employer_job_sector_df=fix_employer_sector(employer_job_sector_df)

In [16]:
employer_job_sector_df.head()

   employer_id employer_sectors_list
0            1            [105, 113]
1            2         [91, 93, 104]
2            3            [101, 103]
3            4         [91, 93, 104]
4            5                 [105]

In [17]:
class job_applications:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.user_id=self.get_ids(d)
        self.created_date=self.get_created_date(d)
        self.application_status=self.get_application_status(d)
        self.job_id=self.get_job_id(d)
        self.employer_id=self.get_employer_id(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["member_profile_id"]))
        return res
    
    def get_created_date(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["created_date"])
        return res
    
    def get_application_status(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["application_status"])
        return res
    
    
    def get_job_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["job_id"]))
            except TypeError:
                res.append(None)
        return res
    
    def get_employer_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["employer_id"]))
            except TypeError:
                res.append(None)
        return res
    
    def create_df(self):
        dd={}
        dd["user_id"]=self.user_id
        dd["job_created_date"]=self.created_date
        dd["job_application_status"]=self.application_status
        dd["job_id"]=self.job_id
        dd["employer_id"]=self.employer_id
        self.df=pd.DataFrame(dd)

In [18]:
job_appli=job_applications("job_applications.json", "job_applications")
job_appli_df=job_appli.df

In [19]:
job_appli_df.sort_values(by=['job_created_date'], inplace=True)

In [20]:
class jobsectors:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.title=self.get_title(d)
        self.jobsector_id=self.get_jobsector_id(d)
        self.create_df()
    
    def get_title(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["title"])
        return res
    
    def get_jobsector_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["id"]))
            except TypeError:
                res.append(None)
        return res
    
    def create_df(self):
        dd={}
        dd["jobsector_title"]=self.title
        dd["jobsector_id"]=self.jobsector_id
        self.df=pd.DataFrame(dd)

In [21]:
jobsector=jobsectors("jobsectors.json", "job_sectors")
jobsector_df=jobsector.df

In [22]:
def get_em_sectors(df_sector, df_em):
    employers=list(df_em["employer_id"].values)
    employers_sectors=list(df_em["employer_sectors_list"].values)
    em_sectors=[]
    for i in range(len(employers)):
        sectors=employers_sectors[i]
        a=""
        for sector in sectors:
            try:
                sector_title=df_sector[df_sector["jobsector_id"]==sector]["jobsector_title"].values[0]
                a+=sector_title+" "
            except:
                pass
        if len(a)<2:
            a="unknown"
        em_sectors.append(a)
    d={}
    d["employer_id"]=employers
    d["employer_sector_title"]=em_sectors
    res=pd.DataFrame(d)
    return res

In [23]:
employer_job_sector_df=get_em_sectors(jobsector_df, employer_job_sector_df)

In [24]:
employer_job_sector_df[employer_job_sector_df["employer_id"]==338].values

array([[338,
        'Energy & Infrastructure Insurance & Risk Management Management & Business Accounting, Tax & Audit Technology: Consulting & Project Management Engineering ']],
      dtype=object)

In [25]:
class job_sectors:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.job_id=self.get_job_id(d)
        self.jobsector_id=self.get_jobsector_id(d)
        self.create_df()
    
    def get_job_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["job_id"]))
            except TypeError:
                res.append(None)
        return res
    
    def get_jobsector_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["jobsector_id"]))
            except TypeError:
                res.append(None)
        return res
    
    def create_df(self):
        dd={}
        dd["job_id"]=self.job_id
        dd["jobsector_id"]=self.jobsector_id
        self.df=pd.DataFrame(dd)

In [26]:
job_sector=job_sectors("job_sectors.json", "job_sectors")
job_sector_df=job_sector.df

In [27]:
job_sector_df.head()

   job_id  jobsector_id
0    2089            95
1       1            96
2       6            96
3       7            96
4    2104           101

In [28]:
job_sector_df[job_sector_df["job_id"]==1021]

      job_id  jobsector_id
2608    1021            93
3428    1021            92
3429    1021           100

In [29]:
def fix_job_sector(df):
    jobs=list(set(list(df["job_id"].values)))
    sectors=[]
    for job in jobs:
        x=list(df[df["job_id"]==job]["jobsector_id"].values)
        sectors.append(x)
    d={}
    d["job_id"]=jobs
    d["job_sectors_list"]=sectors
    res=pd.DataFrame(d)
    return res

In [30]:
job_sector_df=fix_job_sector(job_sector_df)

In [31]:
job_sector_df.head()

   job_id job_sectors_list
0       1             [96]
1       2             [93]
2       3             [93]
3       4            [105]
4       5             [94]

In [32]:
def get_job_sectors(df_sector, df_job):
    jobs=list(df_job["job_id"].values)
    jobs_sectors=list(df_job["job_sectors_list"].values)
    job_sectors=[]
    for i in range(len(jobs)):
        sectors=jobs_sectors[i]
        a=""
        for sector in sectors:
            try:
                sector_title=df_sector[df_sector["jobsector_id"]==sector]["jobsector_title"].values[0]
                a+=sector_title+" "
            except:
                pass
        if len(a)<2:
            a="unknown"
        job_sectors.append(a)
    d={}
    d["job_id"]=jobs
    d["job_sector_title"]=job_sectors
    res=pd.DataFrame(d)
    return res

In [33]:
job_sector_df=get_job_sectors(jobsector_df, job_sector_df)

In [34]:
job_sector_df.head()

   job_id                              job_sector_title
0       1                               Commercial Law
1       2                           Financial Services
2       3                           Financial Services
3       4  Technology: Consulting & Project Management
4       5                                   Consulting

In [35]:
job_sector_df[job_sector_df["job_id"]==1021].values

array([[1021, 'Financial Services Accounting, Tax & Audit Engineering ']],
      dtype=object)

In [36]:
class employers:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.employer_id=self.get_ids(d)
        self.title=self.get_title(d)
        self.description_short=self.get_description_short(d)
        self.description=self.get_description(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["id"]))
        return res
    
    def get_title(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["title"])
        return res
    
    def get_description_short(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["description_short"])
        return res
    
    
    def get_description(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["description"])
        return res
    
    
    def create_df(self):
        dd={}
        dd["employer_id"]=self.employer_id
        dd["employer_title"]=self.title
        dd["employer_description_short"]=self.description_short
        dd["employer_description"]=self.description
        self.df=pd.DataFrame(dd)

In [37]:
employer=employers("employer.json", "employer")
employer_df=employer.df

In [38]:
class university:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.university_id=self.get_ids(d)
        self.university_name=self.get_university_name(d)
        self.university_type=self.get_university_type(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["id"]))
        return res
    
    def get_university_name(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["name"])
        return res
    
    def get_university_type(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["university_type"]))
        return res
    
    def create_df(self):
        dd={}
        dd["university_id"]=self.university_id
        dd["university_name"]=self.university_name
        dd["university_type"]=self.university_type
        self.df=pd.DataFrame(dd)

In [39]:
uni=university("university.json", "university")
uni_df=uni.df

In [40]:
class subject:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.subject_id=self.get_ids(d)
        self.subject_name=self.get_subject_name(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["id"]))
        return res
    
    def get_subject_name(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["name"])
        return res
    
    
    def create_df(self):
        dd={}
        dd["degree_subject_id"]=self.subject_id
        dd["degree_subject_name"]=self.subject_name
        self.df=pd.DataFrame(dd)

In [41]:
sub=subject("subject.json", "subject")
subject_df=sub.df

In [42]:
class subject_groups:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.subject_id=self.get_ids(d)
        self.subjectgroup_id=self.get_subjectgroup_id(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["subject_id"]))
        return res
    
    def get_subjectgroup_id(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["subjectgroup_id"]))
        return res
    
    
    def create_df(self):
        dd={}
        dd["degree_subject_id"]=self.subject_id
        dd["degree_subjectgroup_id"]=self.subjectgroup_id
        self.df=pd.DataFrame(dd)

In [43]:
subgroup=subject_groups("subject_groups.json", "subject_groups")
subjectgroup_df=subgroup.df

In [44]:
class subjectgroup:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.subjectgroup_id=self.get_ids(d)
        self.subjectgroup_title=self.get_subject_name(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["id"]))
        return res
    
    def get_subject_name(self, x):
        res=[]
        for i in range(len(x)):
            res.append(x[i]["title"])
        return res
    
    
    def create_df(self):
        dd={}
        dd["degree_subjectgroup_id"]=self.subjectgroup_id
        dd["degree_subjectgroup_title"]=self.subjectgroup_title
        self.df=pd.DataFrame(dd)

In [45]:
subgrouptitle=subjectgroup("subjectgroup.json", "subjectgroup")
subjectgrouptitle_df=subgrouptitle.df

In [46]:
class career_preference:
    
    def __init__(self, filename, filtre):
        data=pd.read_json(filename)
        d=data[filtre].values
        self.user_id=self.get_ids(d)
        self.jobsector_id=self.get_jobsector_id(d)
        self.create_df()
    
    def get_ids(self, x):
        res=[]
        for i in range(len(x)):
            res.append(int(x[i]["profile_id"]))
        return res
    
    def get_jobsector_id(self, x):
        res=[]
        for i in range(len(x)):
            try:
                res.append(int(x[i]["jobsector_id"]))
            except TypeError:
                res.append(None)
        return res
    
    def create_df(self):
        dd={}
        dd["user_id"]=self.user_id
        dd["user_jobsectorid_preference"]=self.jobsector_id
        self.df=pd.DataFrame(dd)

In [47]:
pref=career_preference("profile_sector_interests.json","profile_sector_interests")
career_preferences_df=pref.df

In [48]:
def fix_career_preference(df):
    users=list(set(list(df["user_id"].values)))
    interests=[]
    for user in users:
        x=list(df[df["user_id"]==user]["user_jobsectorid_preference"].values)
        interests.append(x)
    d={}
    d["user_id"]=users
    d["user_preference"]=interests
    res=pd.DataFrame(d)
    return res

In [49]:
career_preferences_df_clean=fix_career_preference(career_preferences_df)

In [50]:
def get_career_preference(df_sector, df_career):
    users=list(df_career["user_id"].values)
    user_pref=list(df_career["user_preference"].values)
    user_interests=[]
    for i in range(len(users)):
        preferences=user_pref[i]
        a=""
        for sector in preferences:
            try:
                sector_title=df_sector[df_sector["jobsector_id"]==sector]["jobsector_title"].values[0]
                a+=sector_title+" "
            except:
                pass
        if len(a)<2:
            a="unknown"
        user_interests.append(a)
    d={}
    d["user_id"]=users
    d["user_preference"]=user_interests
    res=pd.DataFrame(d)
    return res

In [51]:
career_preferences_df=get_career_preference(jobsector_df, career_preferences_df_clean)

In [52]:
career_preferences_df.iloc[0]["user_preference"]

'Investment Banking Pharmaceuticals Insurance & Risk Management Investment & Asset Management Financial Services Consulting '

In [47]:
"""df=pd.merge(df, job_df, on='job_id', how='outer')
df=pd.merge(df, employer_df, on='employer_id', how='outer')
df=pd.merge(df, employer_job_sector_df, on='employer_id', how='outer')
df=pd.merge(df, jobsector_df, left_on = 'employer_sector_id', right_on = 'jobsector_id', how='outer')
df=df.rename(index=str, columns={"jobsector_title": "employer_sector_title"})
df.drop("jobsector_id", axis=1, inplace=True)
df=pd.merge(df, job_sector_df, on='job_id', how='outer')
df=pd.merge(df, jobsector_df, on = 'jobsector_id', how='outer')
df=df.rename(index=str, columns={"jobsector_title": "job_sector_title"})
df=pd.merge(df, user_df, on='user_id', how='outer')
df=pd.merge(df, uni_df, on='university_id', how='outer')
df=pd.merge(df, subject_df, on='degree_subject_id', how='outer')
df=pd.merge(df, subjectgroup_df, on='degree_subject_id', how='outer')
df=pd.merge(df, subjectgrouptitle_df, on='degree_subjectgroup_id', how='outer')
df.sort_values(by=['Timestamp'], inplace=True)
df.to_csv("new_data.csv")"""

'df=pd.merge(df, job_df, on=\'job_id\', how=\'outer\')\ndf=pd.merge(df, employer_df, on=\'employer_id\', how=\'outer\')\ndf=pd.merge(df, employer_job_sector_df, on=\'employer_id\', how=\'outer\')\ndf=pd.merge(df, jobsector_df, left_on = \'employer_sector_id\', right_on = \'jobsector_id\', how=\'outer\')\ndf=df.rename(index=str, columns={"jobsector_title": "employer_sector_title"})\ndf.drop("jobsector_id", axis=1, inplace=True)\ndf=pd.merge(df, job_sector_df, on=\'job_id\', how=\'outer\')\ndf=pd.merge(df, jobsector_df, on = \'jobsector_id\', how=\'outer\')\ndf=df.rename(index=str, columns={"jobsector_title": "job_sector_title"})\ndf=pd.merge(df, user_df, on=\'user_id\', how=\'outer\')\ndf=pd.merge(df, uni_df, on=\'university_id\', how=\'outer\')\ndf=pd.merge(df, subject_df, on=\'degree_subject_id\', how=\'outer\')\ndf=pd.merge(df, subjectgroup_df, on=\'degree_subject_id\', how=\'outer\')\ndf=pd.merge(df, subjectgrouptitle_df, on=\'degree_subjectgroup_id\', how=\'outer\')\ndf.sort_values(by=[\'Timestamp\'], inplace=True)\ndf.to_csv("new_data.csv")'

In [48]:
df.shape

(621845, 5)

In [53]:
final_df=pd.merge(job_appli_df, job_df.drop("employer_id", axis=1), on='job_id', how='outer')

In [54]:
final_df=pd.merge(final_df, employer_df, on='employer_id', how='outer')

In [55]:
final_df=pd.merge(final_df, employer_job_sector_df, on='employer_id', how='outer')

In [56]:
final_df=pd.merge(final_df, job_sector_df, on='job_id', how='outer')

In [57]:
final_df=pd.merge(final_df, user_df, on='user_id', how='outer')

In [58]:
final_df=pd.merge(final_df, uni_df, on='university_id', how='outer')

In [59]:
final_df=pd.merge(final_df, subject_df, on='degree_subject_id', how='outer')

In [60]:
final_df=pd.merge(final_df, career_preferences_df, on='user_id', how='outer')

In [61]:
#final_df=pd.merge(final_df, subjectgroup_df, on='degree_subject_id', how='outer')

In [62]:
#final_df=pd.merge(final_df, subjectgrouptitle_df, on='degree_subjectgroup_id', how='outer')

In [63]:
final_df.sort_values(by=['job_created_date'], inplace=True)

In [64]:
final_df.head(10)

,user_id,job_created_date,job_application_status,job_id,employer_id,job_opening_date,job_closing_date,job_short_description,job_description,job_type,...,school_type,course_includes_industrial_placement,graduation_year,right_to_work_uk,degree_subject_id,university_id,university_name,university_type,degree_subject_name,user_preference
0,75898.0,2017-09-01 01:00:02,Initiated,214.0,25.0,2017-03-27,2017-08-31,Think of our Summer Vacation Scheme in 2018 as...,<p>Apply now to fast track your application to...,2.0,...,Private,false,2019.0,true,1371.0,381.0,University of Manchester,2.0,Spanish and Business,Education & Teaching Entrepreneurship & Start ...
65300,155157.0,2017-09-01 01:00:37,Initiated,2412.0,132.0,2017-07-26,2018-01-31,Immerse yourself in another culture by taking ...,<h2>Who can apply?</h2>\r\n\r\n<p>This program...,4.0,...,State,false,2018.0,true,988.0,379.0,University of Liverpool,2.0,Law,Technology: Consulting & Project Management Te...
241593,108141.0,2017-09-01 01:00:43,Archived,1157.0,32.0,2016-10-03,2018-03-02,We help our clients create the value they want...,<p>Technology work placements PwC &ndash;2018<...,4.0,...,Private,false,2018.0,true,1085.0,358.0,University of Edinburgh,2.0,Mechanical Engineering/Sustainable Energy Systems,NaN
29168,158506.0,2017-09-01 01:00:43,Initiated,2020.0,144.0,2017-08-18,2017-12-03,The Spring Insight Program is a week-long init...,<p>The Spring Insight Program&nbsp;is a week-l...,3.0,...,Private,false,2018.0,true,462.0,429.0,University of York,2.0,Economics,Investment Banking Investment & Asset Manageme...
29169,158506.0,2017-09-01 01:01:25,Initiated,24.0,144.0,2017-08-04,2018-05-25,This program is for candidates in their penult...,<p>Our 8-week Summer Analyst Program Program i...,3.0,...,Private,false,2018.0,true,462.0,429.0,University of York,2.0,Economics,Investment Banking Investment & Asset Manageme...
25873,122237.0,2017-09-01 01:01:35,Initiated,2476.0,353.0,2017-07-10,2017-10-17,Are you seeking a rewarding and challenging ca...,<p><strong>Job no:</strong>&nbsp;GRD-935229<br...,1.0,...,None,false,2019.0,true,462.0,249.0,London School of Economics and Political Scien...,2.0,Economics,NaN
65301,155157.0,2017-09-01 01:01:42,Initiated,2522.0,447.0,2017-08-01,2018-04-30,If retail?s your thing and you?re intrigued by...,<p>If retail&rsquo;s your thing and you&rsquo;...,4.0,...,State,false,2018.0,true,988.0,379.0,University of Liverpool,2.0,Law,Technology: Consulting & Project Management Te...
201331,151133.0,2017-09-01 01:01:45,Initiated,636.0,25.0,2017-03-27,2017-08-31,Join Deloitte's Fast Track Graduate Programme ...,<p>Apply now to fast track your application to...,1.0,...,State,false,2018.0,true,898.0,337.0,University of Bristol,2.0,International Arbitration and Commercial Law,NaN
88898,154997.0,2017-09-01 01:04:25,Initiated,16.0,126.0,2017-03-30,2017-09-01,Want a sneak preview of what it means to be a ...,<h2>Overview</h2>\r\n\r\n<p>BCG London are see...,3.0,...,State,true,2018.0,true,250.0,270.0,Newcastle University,2.0,Chemical Engineering,NaN
65303,155157.0,2017-09-01 01:06:09,Initiated,508.0,45.0,2017-04-10,None,Our internship program will give you a real ta...,<h2>What do you want to be famous for?</h2>\r\...,3.0,...,State,false,2018.0,true,988.0,379.0,University of Liverpool,2.0,Law,Technology: Consulting & Project Management Te...

In [65]:
final_df.columns

Index(['user_id', 'job_created_date', 'job_application_status', 'job_id',
       'employer_id', 'job_opening_date', 'job_closing_date',
       'job_short_description', 'job_description', 'job_type', 'search_rank',
       'job_title', 'employer_title', 'employer_description_short',
       'employer_description', 'employer_sector_title', 'job_sector_title',
       'length_of_course', 'gender', 'ethnicity', 'school_type',
       'course_includes_industrial_placement', 'graduation_year',
       'right_to_work_uk', 'degree_subject_id', 'university_id',
       'university_name', 'university_type', 'degree_subject_name',
       'user_preference'],
      dtype='object')

In [66]:
final_df.shape

(271338, 30)

In [67]:
final_df.to_csv("final_data.csv")

In [34]:
"""final_df=pd.merge(final_df, employer_job_sector_df, on='employer_id', how='outer')
final_df=pd.merge(final_df, jobsector_df, left_on = 'employer_sector_id', right_on = 'jobsector_id', how='outer')
final_df=final_df.rename(index=str, columns={"jobsector_title": "employer_sector_title"})
final_df.drop("jobsector_id", axis=1, inplace=True)
final_df=pd.merge(final_df, job_sector_df, on='job_id', how='outer')
final_df=pd.merge(final_df, jobsector_df, on = 'jobsector_id', how='outer')
final_df=final_df.rename(index=str, columns={"jobsector_title": "job_sector_title"})"""